<h1>Registrar una Raza</h1>

<form action="Raza/crearRaza" method="post">
  <div class="form-group">
    <label>Nombre</label>
    <input required type="text" class="form-control" placeholder="Nombre" name="nombre">
  </div>
  <br>
  <button type="submit" class="btn btn-success">Registrar Raza</button>

</form>
